body.dashboard-page{
    margin:0 !important;
    background:linear-gradient(135deg,#c7d2fe,#93c5fd) !important;
    font-family:Arial, Helvetica, sans-serif;
}


/* SIDEBAR */

.sidebar{

    width:230px !important;
    height:100vh !important;
    background:linear-gradient(135deg,#111827,#4f46e5) !important;
    color:white !important;
    padding:20px !important;
    position:fixed !important;
    top:0;
    left:0;

}


.sidebar h2{
    color:white !important;
    text-align:center;
    margin-bottom:35px;
}


.sidebar ul{
    list-style:none;
    padding:0;
}


.sidebar ul li{

    padding:15px !important;
    margin:12px 0 !important;
    background:rgba(255,255,255,0.15) !important;
    border-radius:12px !important;

}


.sidebar ul li:hover{

    background:white !important;

}


.sidebar ul li a{

    color:white !important;
    text-decoration:none !important;
    font-weight:bold;

}


.sidebar ul li:hover a{

    color:#4f46e5 !important;

}



/* MAIN */

.main{

    margin-left:270px !important;
    padding:35px !important;

}


.main h1{

    color:#312e81 !important;
    font-size:36px !important;

}



/* CARDS AREA */

.cards{

    display:flex !important;
    gap:25px !important;
    margin-top:30px !important;
    flex-wrap:wrap !important;

}



/* CARD */

.card{

    background:linear-gradient(135deg,#4f46e5,#60a5fa) !important;

    width:220px !important;

    border-radius:20px !important;

    padding:30px !important;

    color:white !important;

    text-align:center !important;

    box-shadow:0 15px 30px rgba(0,0,0,0.25) !important;

    transition:0.3s;

}


.card:hover{

    transform:translateY(-10px);

}


.card h3{

    color:white !important;

}


.card p{

    color:white !important;

    font-size:42px !important;

    font-weight:bold;

}




/* TABLE */


table{

    width:100% !important;

    background:white !important;

    margin-top:30px !important;

    border-radius:15px !important;

    overflow:hidden;

    box-shadow:0 10px 20px rgba(0,0,0,0.15);

}


th{

    background:#4f46e5 !important;
    color:white !important;

}


td{

    color:#111827 !important;

    background:white;

}


td,th{

    padding:15px !important;
    text-align:center;

}
.card{
    background:linear-gradient(135deg,#4f46e5,#60a5fa) !important;
    color:white !important;
}

.card h3,
.card p{
    color:white !important;
}
.cards .card{
    background:#4f46e5 !important;
    color:white !important;
    border:3px solid #1e1b4b !important;
}


.cards .card h3{
    color:white !important;
}


.cards .card p{
    color:white !important;
}